* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f5f5f5;
}
a {
  color: #333;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.modal {
  margin-top: 0 !important;
}
